body {
  /*background-color: black;*/
}

/*setup the header "box"*/
header {
  margin-top: 12%;
  margin-bottom: 10%;
  text-align: center;
}
/*tweak the position and sizing of the spand and h1 within the header*/
header > span  {
  font-size: 100%;
  letter-spacing: .5em;
  font-weight: 700;
}

header > h1 {
  margin-top: 5%;
  font-weight: 400;
}



/*setup the time and date to look like the reference example*/
time  {
  /*background-color: gray;*/
  width: 15%;
  display: block;
  /*float: left;*/
  /*text-align: right;*/
}

time span:first-child {
  font-size: 1em;
}

time span:last-child {
  font-size: 1.6em;
}
/*poistion the text of each food item correctly in the box*/
div.cbp_tmlabel {
  /*margin-left: 0%;*/
  margin-top: 5%;
  margin-right: 10%;
  margin-bottom: 5%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5pt; /*round the corners of the text boxes*/
}

/*font size and bottom border for each h2 in the tmlabel boxes*/
.cbp_tmlabel h2 {
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom: 1px solid;
  font-weight: 700;
  font-size: 150%;
}

/*font size for the <p> in the tmlabel boxes */
.cbp_tmlabel p {
  font-size: 100%;
  font-weight: 400;
}
