 /* import the fonts from google fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

.clearfix span { /*change the color of the very top "blueprint" header */
  color: cornflowerblue;
}
.clearfix h1 { /*change the color of the "Nested Accordion" header */
  color: cornflowerblue;
}

/*set the font and font color of the body*/
body {
    font-family: 'Lato', sans-serif;
    color: grey;
  }

/*the the sizes and font colors for the headers*/
h3 {
    font-size: 36px;
    color: cornFlowerBlue;
}

h4 {
    font-size: 24px;
    color: cornFlowerBlue;
}

h5 {
    font-size: 18px;
    color: grey;
}

/*added the arrow*/
.cbp-nttrigger::before {
  content: "\21B1  ";
}

/*changed the arrow when hovered over*/
.cbp-nttrigger:hover::before {
  content: "\21B4  ";
}

/*need to turn off the standard bullets for the lists...thanks google */
ul
{
  list-style-type: none;
}

/* closes the accordion*/
.cbp-ntaccordion .cbp-ntcontent {
  height: 0;
  overflow: hidden
}

/*got the higher order elements to open/close */
/* now i need to get the sub elements to open/close */
.cbp-ntaccordion .cbp-ntopen .cbp-ntcontent {
  height: auto;
}

/*closes the sub-accordions when the top level accordion is intially opened*/
.cbp-ntaccordion .cbp-ntsubaccordion .cbp-ntcontent {
  height: 0;
  overflow: hidden;
}

/*opens the subaccordion when clicked on*/
.cbp-ntsubaccordion .cbp-ntopen .cbp-ntcontent {
  height: auto;
}
