/*grab that font*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/*basic settings/styles for page*/
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47a3da;
}

/*turn off the list bullets*/
ul {
  list-style-type: none;
  padding-left: 0;
}

/*turn off the nav icons for now*/
header > nav {
  display: none;
}

/*create border around display*/
div.main {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 3px solid;
}

/*setup area for the view switch/buttons*/
div.cbp-vm-options {
  padding-bottom: 2%;
  border-bottom: 3px solid;
  text-align: right;
}

/*make the view switchers show up as icons*/
@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome/fontawesome.eot");
  src: url("../fonts/fontawesome/fontawesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome.woff") format("woff"), url("../fonts/fontawesome/fontawesome.ttf") format("truetype"), url("../fonts/fontawesome/fontawesome.svg#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

.cbp-vm-options a:before {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  margin: 2px;
}

.cbp-vm-grid::before {
  font-family: 'fontawesome';
  content: "\f00a";
  color: #c0c0c0;
}

.cbp-vm-list::before {
  font-family: 'fontawesome';
  content: "\f00b";
  color: #c0c0c0;
}

/*turn off the text next to the grid/list buttons*/
.cbp-vm-options .cbp-vm-icon {
  font-size: 0;
}

/*icon for the add to cart button*/
.cbp-vm-add:before {
  font-family: 'fontawesome';
  content: "\f055";
}

.cbp-vm-grid {
  /*background-color: gray;*/
}

.cbp-vm-list {
  /*background-color: black;*/
}

/* Grid view setup */
.cbp-vm-view-grid li {
  /*background-color: gray;*/
  width: 33%;
  display: inline-block;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

div.cbp-vm-view-grid li div.cbp-vm-price {
  /*background-color: gray;*/
  color: #c0c0c0;
}

div.cbp-vm-view-grid li a.cbp-vm-icon {
  background-color: #47a3da;
  color: white;
}

/*list view setup*/
div.cbp-vm-view-list li {
  /*background-color: gray;*/
  margin-bottom: 15pt;
}

div.cbp-vm-view-list li div.cbp-vm-price {
  /*background-color: cornflowerblue;*/
  color: #c0c0c0;
}

div.cbp-vm-view-list li a.cbp-vm-icon {
  background-color: #47a3da;
  color: white;
}
