body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}


label input, select, textarea{
  display: block;
  width: 100%;
}

button {
    width: 40%;
    margin-left: 20%;
    margin-right: 20%;
}
