 /****settings for the mobile device view****/

/*settings for the header element (box)*/
header {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
}

/*set the text properties for the header parts*/
header > span {
  font-size: 100%;
  letter-spacing: .4em;
}
header > h1 {
    margin-top: 5%;
}

/* increase the margins for the entire body*/
div.main {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
}

/* tweak the settings for the label, input, slection, and textarea elements
      to get them positioned and looking right */
label {
  margin-top: 15%;
  margin-bottom: 2%;
}

input {
  font-size: 15pt;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 90%;
}

select {
  width: 100%;
  font-size: 15pt;
  height: 25pt;
}

textarea {
  width: 100%;
  height: 150pt;
}

/* set position and size of the submit button */
.cbp-mc-submit-wrap {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 15%;
}

.cbp-mc-submit {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
