
/* import the fonts from google fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

/*set the background color to blue and font to lato*/
body {
  background-color: #47a3da;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: white;
}

.clearfix > span {
  font-weight: 400;
}

h1 {
  font-weight: 400;
}

label {
  display: block;
  font-size: 18px;
}

input, textarea {
  border: 3px solid white;
  background: inherit;
  color: white;
}

select {
  background: inherit;
  color: white;
}

.cbp-mc-submit {
  background-color: #10689a;
  border: none;
}
