header {
  color: #47a3da;
}

header {
  margin-left: 8%;
  margin-top: 4%;
  padding-bottom: 5%;

  h1 {
    font-weight: 400;
    margin-top: 1%;
  }
  h2 {
    letter-spacing: .6em;
    font-size: 1em;
    // font-weight: 400;
    margin-bottom: 0;
  }
}

a { //remove underline and change default color of anchor tage
  text-decoration: none;
}

nav {
  padding-left: 8%;
  padding-bottom: 2ex;
  border-bottom: 3px solid #47a3da;
  a {
    color: #999;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
  }
  a.active {
    color: white;
    background-color: #47a3da;
    padding-bottom: 3ex;
  }
}


section {
  padding-left: 5%;
  padding-right: 5%;
  display: none;
  h3 {
    margin-top: 0;
  }
  li {
    padding-left: 10%;
  }
}

section.active {
  color: white;
  display: inherit;
  background-color: #47a3da;
  a {
    color: white;
  }
  h3 {
    color: #afdefa;
  }
}
