ul {
    display: inline-block;
    // float: left;
    width: 33%;  //desktop 3 column layout
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    // background-color: lightgray;
}
